/* Header */
.header {
  width: 100%;
  height: 110px;
  padding: 0 50px;
  background: #01395E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: relative; /* relative vs. fixed header */
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  font-size: 20px;
  color: #D1E6F7;
  text-decoration: none;
  font-weight: bold;
}

.logo-text {
  display: block;
}

.navbar {
  display: flex;
  gap: 50px;
  padding-left: 120px;
}

.navbar a {
  position: relative;
  font-size: 20px;
  color: #D1E6F7;
  font-weight: 500;
  text-decoration: none;
}

.navbar a::before {
  content: '';
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 0;
  height: 2px;
  background: #D1E6F7;
  transition: .3s;
}

.navbar a:hover::before {
  width: 100%;
}

.link {
  font-size: 20px;
  color: #D1E6F7;
  text-decoration: none;
  font-weight: 500;
} 